annotated-types
anyio
aws_lambda_powertools
boto3
botocore
certifi
charset-normalizer
h11
httpcore
httpx
idna
jmespath
jsonpatch
jsonpointer
langchain
langchain-aws
langchain-core
langchain-text-splitters
langsmith
numpy
orjson
packaging
pydantic
python-dateutil
PyYAML
requests
requests-toolbelt
s3transfer
six
sniffio
SQLAlchemy
tenacity
typing_extensions
urllib3
zstandard
