name: Auto Add Issues to Project

on:
  issues:
    types: [opened, reopened]
  pull_request:
    types: [opened, reopened]

jobs:
  add-to-project:
    name: Add issue/PR to project
    runs-on: ubuntu-latest
    steps:
      - name: Add to Brain in Cup project
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/Elevator-Robot/projects/12
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
